[submodule "linkdirs/oh-my-zsh"]
	path = linkdirs/oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "linkdirs/vim"]
	path = linkdirs/vim
	url = git@github.com:qytz/vim-configs.git
